body{
    padding: 0;
    margin: 0;
}
.logo{
    width: 120px;
    border-radius: 50%;
}
.heroImages{
    width: 200px;
    height: 300px;
}
a{
    text-decoration: none;
}
.image1{
    width: 500px;
}
button{
    padding: 10px;
    border-radius: 15%;
    text-align: center;
    width: 120px;
    background-color: rgb(56, 130, 246);
}
.large{
    font-size: 40px;
}
.section1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 85vh;
    background-color:rgb(31, 41, 55) ;
}
.content1{
    display: flex;
    flex-basis: 80%;
    gap: 15px;
    margin-top: 15px;
}
.content2{
    display: flex;
    align-self: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}
.pushright{
    margin-left: auto;
}
.content3{
    max-width: 400px;
    max-height: 400px;
}
.slogan{
    font-size: 20px;
}
/* section one css ends here */
.section2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
   min-height:80vh;
}
.section2Header{
    flex-basis: 100%;
    align-self: center;
    min-width: 100%;
    text-align: center;
    font-size: 40px;
}
.section3{
    min-height: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
    background-color: rgb(229, 231, 235);
}
.comment{
    max-width: 90vh;
    display: flex;
    flex-basis: 100%;
}